<div style="margin-bottom: 15px" class="row">
    <a href="/movies/details/{{id}}">
        {{!--<div class="col-md-3 centered">
            {{#if movie_thumbnail_large}}
                <img src="{{movie_thumbnail_large}}">
            {{else}}
                <img src="{{image}}" class="uncompressedList">
            {{/if}}                
        </div>--}}
    </a>
    <div class="col-md-9">
        <div class="row">
            <a href="/movies/details/{{id}}">
                <h3>{{name}}</h3>
            </a>
        </div>
        {{!--<div class="row">
            {{> keywords}}
        </div>--}}
    </div>
</div>
<hr/>
